# Vivado Project & Temp Files
build/
work/
.Xil/
*.log
*.jou
*.str
*.os
vivado*.backup.tcl

# Compilation & Simulation
*.pb
*.dir/
*.wdb
xsim.dir/
xvlog.pb
xelab.pb

# Hardware Artifacts
*.bit
*.bin
*.mcs
*.prm
*.xsa

# System Junk
.DS_Store
.vscode/
